.top-row {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .top-row td, 
  .top-row th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  
  .top-row th {
    font-weight: normal;
    min-width: 200px;
  }
  
  .top-row .top-row-baqh {
    text-align: center;
    vertical-align: top;
  }
  
  .top-row .top-row-0lax {
    text-align: left;
    vertical-align: top;
  }